=============== 
Unity generated
===============
Temp/
Library/
*/ProjectVersion.txt

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

=============
Binaries
=============
.fbx
.obj
.skp
.blend
.max
.3ds

Mirror.mat
Lobby.unity
ProjectSettings.asset
ProjectVersion.txt

